# Ignore Python bytecode files

.env---

logs
test.py
license-accepted-*
commit.sh

.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.DS_Store
*.coverage
*.cover
*.hypothesis/
*.hypothesis/
*.tox/
*.coverage.*
*.coveragerc  

# Ignore Jupyter Notebook checkpoints
#tools/quantum-account.py
tools/q-account.py
q-account.py
#quantum-account.py 