
qiskit
qiskit-connector==2.1.1
qiskit-aer

qiskit-ibm-runtime
qiskit-ibm-catalog
qiskit-nature
qiskit-nature-pyscf

s3fs==2023.12.2
fsspec==2023.12.2
qiskit-serverless==0.14.2

#qiskit-algorithms
#qiskit-optimization


